<!DOCTYPE html>
<html>

<head>
    <title>Listado de artistas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="getToken()">
    <h1>Listado de artistas</h1>

    <input id="artistName" type="text" /><button onclick="searchArtist()">Buscar</button>

    <div id="artistList"></div>

    <script src="/javascripts/index.js"></script>
</body>

</html>