<!DOCTYPE html>
<html>

<head>
    <title>Tracks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="init()">
    <h1>Tracks</h1>

    <div id="tracks"></div>

    <script src="/javascripts/tracks.js"></script>
</body>

</html>